APISIX_IMAGE=apache/apisix:3.18.0-debian
APISIX_ETCD_IMAGE=quay.io/coreos/etcd:v3.5.18
APISIX_ADMIN_KEY=CHANGE_ME_GENERATED_BY_START_SCRIPT
APISIX_HTTP_BIND_ADDRESS=0.0.0.0
APISIX_HTTP_PORT=9080
APISIX_HTTPS_BIND_ADDRESS=0.0.0.0
APISIX_HTTPS_PORT=9443
APISIX_ADMIN_BIND_ADDRESS=127.0.0.1
APISIX_ADMIN_PORT=9180

DEMO_API_IMAGE=python:3.12-slim-bookworm
DEMO_HOST_UID=1000
DEMO_HOST_GID=1000
DEMO_PARTNER_HOST=backend-partenaire-a.toto.local
DEMO_PARTNER_PORT=8443
DEMO_PARTNER_API_KEY=CHANGE_ME_GENERATED_BY_START_SCRIPT
DEMO_INTERNAL_API_KEY=CHANGE_ME_GENERATED_BY_START_SCRIPT
DEMO_PARTNER_BACKEND_API_KEY=CHANGE_ME_GENERATED_BY_START_SCRIPT

ELASTIC_STACK_VERSION=9.4.2
ELASTICSEARCH_BIND_ADDRESS=127.0.0.1
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_MEMORY=1536m
KIBANA_BIND_ADDRESS=127.0.0.1
KIBANA_PORT=5601
KIBANA_MEMORY=1024m
LOGSTASH_MEMORY=768m
