PROMETHEUS_IMAGE=prom/prometheus:v3.13.0-distroless
GRAFANA_IMAGE=grafana/grafana:13.1.0
PROMETHEUS_BIND_ADDRESS=127.0.0.1
PROMETHEUS_PORT=22190
GRAFANA_BIND_ADDRESS=127.0.0.1
GRAFANA_PORT=22103
GF_SECURITY_ADMIN_USER=autostack
GF_SECURITY_ADMIN_PASSWORD=CHANGE_ME
