PORT_N8N=22078
PORT_DB_N8N=22032
N8N_HOST=n8n.example.com
N8N_PROTOCOL=https
N8N_SECURE_COOKIE=true
POSTGRES_USER=n8n_admin
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=CHANGE_ME
