NEXTCLOUD_AIO_IMAGE=ghcr.io/nextcloud-releases/all-in-one:latest
NEXTCLOUD_AIO_BIND_ADDRESS=0.0.0.0
NEXTCLOUD_AIO_HTTP_PORT=22090
NEXTCLOUD_AIO_INTERFACE_BIND_ADDRESS=127.0.0.1
NEXTCLOUD_AIO_INTERFACE_PORT=22091
NEXTCLOUD_AIO_HTTPS_PORT=22093
NEXTCLOUD_AIO_APACHE_PORT=11000
NEXTCLOUD_AIO_APACHE_IP_BINDING=127.0.0.1
NEXTCLOUD_AIO_APACHE_ADDITIONAL_NETWORK=
NEXTCLOUD_AIO_DATADIR=/mnt/ncdata
NEXTCLOUD_AIO_UPLOAD_LIMIT=16G
NEXTCLOUD_AIO_TALK_PORT=3478
