APISIX_IMAGE=apache/apisix:3.18.0-debian
APISIX_ETCD_IMAGE=quay.io/coreos/etcd:v3.5.18
APISIX_ADMIN_KEY=CHANGE_ME_WITH_AT_LEAST_32_RANDOM_CHARS
APISIX_HTTP_BIND_ADDRESS=0.0.0.0
APISIX_HTTP_PORT=9080
APISIX_HTTPS_BIND_ADDRESS=0.0.0.0
APISIX_HTTPS_PORT=9443
APISIX_ADMIN_BIND_ADDRESS=127.0.0.1
APISIX_ADMIN_PORT=9180
