BORG_BACKUP_IMAGE=ovski/borgbackup-cron:latest
BORG_SOURCE_PATH=./volumes
BORG_SSH_CONNECTION=backup@example.com
BORG_REPO_PATH=/home/backup/borg_repositories
BORG_REPO_NAME=autostack
BORG_SSH_KNOWN_HOSTS=example.com
