N8N_IMAGE=docker.n8n.io/n8nio/n8n:2.30.5
POSTGRES_IMAGE_N8N=postgres:18.4-bookworm
N8N_BIND_ADDRESS=127.0.0.1
PORT_N8N=22078
N8N_HOST=n8n.example.com
N8N_PROTOCOL=https
N8N_SECURE_COOKIE=true
N8N_ENCRYPTION_KEY=CHANGE_ME
POSTGRES_USER=n8n_admin
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=CHANGE_ME
